@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@property --co-gradient-animation-angle {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}

:root {
	--color-border-spinner-one: #4789e3;
	--color-border-spinner-two: white;
}

@layer base {
	:root {
		--radius: 0.5rem;
	}
}
